table td, table th {
     border: 5px solid black;
 }
table tr:first-child th {
    border-top: 5px;
}
table tr:last-child td {
    border-bottom: 5px;

}

.board{
    border-bottom: 20px;
    color: blue;
}

#timer {
    float: right;
}