
table td, table th {
    border: 2px solid black;
    height: 25px;
    width: 25px;
}

body {
    background: gray;
    font-size: small;
}
.board {
    padding-left: 30%;
}




.newGame {
    background: #3498db ;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff ;
    font-size: 15px;
    alignment: center;
}

.newGame:hover {
    background: #3cb0fd ;
    cursor: pointer;
}

.level {
    background: green ;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff ;
    font-size: 15px;
    height:25px;
}

.btn {
    width: 25px;
    height: 25px;
    visibility: visible;
    text-align: center;
    margin: 1px 1px 1px 1px;
    alignment: center;
    opacity: 1;
    background-size: 15px 15px;
    background: url(img/hidden.png) no-repeat;
}


.gameHeader {
    background: lightblue;
    padding-left: 30%;
}

.footer {
    background: red;
    padding-left: 35%;
}